@model List<Contoso.Models.SupplierTypeModel>

@{
    ViewBag.Title = "SearchSuppliers";
}

<h2>Suppliers Found</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("CompanyName")
        </th>
        <th>
            @Html.DisplayName("ContactName")
        </th>
        <th>
            @Html.DisplayName("ContactTitle")
        </th>
        <th>
            @Html.DisplayName("Country")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Supplier", new { id=item.SupplierId},null) |
            @Html.ActionLink("Details", "Details", "Supplier", new { id = item.SupplierId },null) |
            @Html.ActionLink("Delete", "Delete", "Supplier", new { id = item.SupplierId },null)
        </td>
    </tr>
}

</table>
