@model IEnumerable<Contoso.Models.CategoryDetailModel>

@{
    ViewBag.Title = "SearchCategories";
}

<h2>Categories Found</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Category", new { id = item.CategoryId }, null) |
            @Html.ActionLink("Details", "Details", "Category", new { id = item.CategoryId }, null) |
            @Html.ActionLink("Delete", "Delete", "Category", new { id = item.CategoryId }, null)
        </td>

    </tr>
}

</table>
