@using System.Collections
@using System.Web.Mvc.Html
@using Contoso.Models
@using ListItem = System.Web.UI.WebControls.ListItem

@{
    ViewBag.Title = "Search Products";
}

<h1 class="page-header">Search Product</h1>
<form method="post">
    <div clas="row">
        Product Name: @Html.TextBox("name")
        <input id="SearchButton" type="submit" value="Search" />
    </div>
    
    <div clas="row">
        Category Name:
        @{
            if (ViewBag.categories != null)
            {

                var temp = (List<string>)(ViewBag.categories);
                @Html.DropDownList(
                "listCategories",
                temp.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }),
                "-----"
            );
            }
        }
    </div>
    
    <div clas="row">
        Supplier Name:
        @{
            if (ViewBag.suppliers != null)
            {

                var temp = (List<string>)(ViewBag.suppliers);
                @Html.DropDownList(
                    "listSuppliers",
                    temp.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }),
                    "-----");
            }
        }
    </div>
    <div clas="row">
        
        In stock: @Html.CheckBox("inStock")
    </div>
    <div clas="row">
        Discontinued: @Html.CheckBox("discontinued")
    </div>
</form>


@if ((int)Session["ProductFound"] == 1)
{
    @Html.Partial("SearchProducts")
    Session["SupplierFound"] = 0;

}

<!-- <div>
    @Html.ActionLink("Back to List", "Index")
</div>-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
